<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.web>
    <httpRuntime maxRequestLength="4096" executionTimeout="9001"/>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear/>
      <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL"/>
      <error statusCode="403" path="/Error/Forbidden" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>

</configuration>