@{
    Layout = null;
}

@model PhotoLooper.ViewModels.RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <img src="images/signup-bg.jpg" alt="">
            <div class="container">
                <div class="signup-content">
                    <form method="post" id="signup-form" class="signup-form" asp-controller="Account" asp-action="Register">
                        <div asp-validation-summary="ModelOnly"></div>
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" asp-for="NickName" class="form-input" name="NickName" id="name" placeholder="Nickname" />  <!--Rework huetu-->
                        </div>
                        <div class="form-group">
                            <input type="email" asp-for="Email" class="form-input" name="Email" id="email" placeholder="Your Email" />
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="Password" class="form-input" name="Password" id="password" placeholder="Password" />
                            <span toggle="#password" asp-validation-for="Password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="PasswordConfirm" class="form-input" name="PasswordConfirm" id="re_password" placeholder="Repeat your password" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? 
                        @Html.ActionLink("Login here", "Login", "Account", null, new { @class="loginhere-link"})
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/main1.js"></script>
</body>
</html>