@using PhotoLooper
@{
    ViewData["Title"] = "Tape";
    Layout = "_Layout";
}

@model IEnumerable<PostCollector>

<section class="main clearfix">
    @if (Model.Count() != 0)
    {
        @foreach (var x in Model)
        {
            <div class="work">
                <a href="~/Home/Photo?selected=@x.Post.Id">
                    <img src=@x.Post.Path class="media" width="400" height="450" alt="" />
                    <div class="caption">
                        <div class="work_title">
                            <h2>@ViewBag.context.GetUserCollector(x.Post.UserId).User.NickName</h2>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</section><!-- end main -->
